.group-name {
    width: 250px;
}

.admin-groups-head > th {
    background-color: #f6f6f6;
    color: black;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    border: 1px solid black;
}
.admin-groups-body > tr > td {
    background-color: #f6f6f6;
    color: black;
    padding: 5px;
    border: 1px solid black;
}

.admin-groups > table {
    margin-top: 5px;
}

.admin-groups > table > tbody > tr > td {
    padding: 10px;
}

.salary-table {
}
