.day-btn {
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.day-btn:hover, .day-btn-current-date:hover {
    transition: all 0.5s;
    background-color: #f6f6f6;
    color: black;
}

.day-btn-current-date {
    background-color: #830000;
    color: white;
}

.day-btn-mouseleave {
    transition: all 0.5s;
    color: #ededed;
    background-color: #f6f6f6;
}

.day-btn-mouseleave-current-date {
    transition: all 0.5s;
    color: white;;
    background-color: #830000;
}
