.calendar {
    padding: 0;
    background-color: #f6f6f6;
    color: black;
}

@media (min-width: 487px) {

}

.months-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 5px;
    background-color: #ededed;
}

.months-wrapper > div {
    margin-top: 10px;
    /*border: 1px solid black;*/
}

.days-wrapper {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
}

.days-wrapper > div {
    padding: 5px;
    outline: 1px solid black;
    /*border: 1px solid #f6f6f6;*/
}

.month-title {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.calendar-year {
    background-color: #ededed;
}

.calendar-year > span {
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

