body {
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}

.mf-history {
    max-height: 775px;
    min-height: 590px;
    word-break: break-word;
    overflow-y: auto;
    padding: 30px;
    margin-bottom: 20px;
}

.form-mf-message {
}

.mf-message {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.mf-message > .label-send > button {
    display: none;
}

.mf-message > .label-text {
    position: relative;
    padding: 0px 5px;
}

.chat-message {
    position: relative;
    width: 96%;
    min-height: 40px;
    padding: 5px;
    background-color: #dedede;
    bottom: 0;
    border: 1px solid black;
}

.recipient {
    position: relative;
    min-height: 50px;
    text-align: left;
}

.sender {
    position: relative;
    min-height: 50px;
    text-align: right;
}

@media (min-width: 300px) {
    .wrapper-chat-with-sen {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 15fr 1fr;
        grid-template-areas: "sen-pi-avatar message";
        grid-gap: 5px;
    }

    .wrapper-chat-with-rec {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 15fr;
        grid-template-areas: "message rec-pi-avatar";
        grid-gap: 5px;
    }
}

.rec-pi-avatar {
    position: relative;
    left: 0;
}

.sen-pi-avatar {
    position: relative;
    right: 0;
}

.rec-pi-avatar > img, .sen-pi-avatar > img {
    width: auto;
    height: 50px;
    border-radius: 5px;
}

.message-sen, .message-rec {
    background-color: #464646;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #f6f6f6;
}

.message-sen > span, .message-rec > span {
}
