body {
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}

.mf-history-maxmin-height-files {
    max-height: 690px;
    min-height: 690px;
}

.mf-history-maxmin-height {
    max-height: 740px;
    min-height: 740px;
}

.mf-history {
    word-break: break-word;
    overflow-y: auto;
    padding: 30px;
    margin-bottom: 20px;
}

.form-mf-message {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /*background-color: black;*/
}

.label-text {
    position: relative;
}

.label-text > textarea {
    display: block;
}

.mf-message {
    /*position: absolute;*/
    display: block;
    /*bottom: 0;*/
    width: 100%;
}

.to-upload-list-message {
    position: relative;
    display: block;
    bottom: 60px;
    height: 80px;
    width: 98%;
    overflow: auto;
}

.mf-message > .label-send > button {
    display: none;
}

.mf-message > .label-text {
    position: relative;
    width: 100%;
    padding: 0px 5px;
}

.chat-message {
    position: relative;
    width: 100%;
    min-height: 40px;
    padding: 5px;
    background-color: #dedede;
    bottom: 0;
    border: 1px solid black;
}

.chat-message-file {
    opacity: 1;
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    background-color: #f6f6f6;
    border: 1px solid black;
}

.recipient {
    position: relative;
    min-height: 50px;
    text-align: left;
}

.sender {
    position: relative;
    min-height: 50px;
    text-align: right;
}

@media (min-width: 300px) {
    .wrapper-chat-with-sen {
        display: grid;
        grid-template-columns: 15fr 1fr;
        grid-template-areas: "sen-pi-avatar message";
        grid-gap: 5px;
    }

    .wrapper-chat-with-rec {
        display: grid;
        grid-template-columns: 1fr 15fr;
        grid-template-areas: "message rec-pi-avatar";
        grid-gap: 5px;
    }
}

.rec-pi-avatar {
    position: relative;
    left: 0;
}

.sen-pi-avatar {
    position: relative;
    right: 0;
}

.rec-pi-avatar > img, .sen-pi-avatar > img {
    width: auto;
    height: 50px;
    border-radius: 5px;
}

.message-sen, .message-rec {
    background-color: #464646;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #f6f6f6;
}

.message-sen > span, .message-rec > span {
}

.message-sen > p, .message-rec > p {
}

.message-media-wrapper {
    padding: 5px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    background-color: #b7b7b7;
}

.message-media-wrapper > div {
    position: relative;
    word-break: break-all;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.message-media-wrapper > div > a > img {
    width: 100%;
}

.in-message-media-wrapper {
    padding: 5px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.in-message-media-wrapper > .messages-files {
    position: relative;
    word-break: break-all;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.in-message-media-wrapper > .messages-files > a > img {
    width: 100%;
}

.messages-files-field {
    display: block;
}

.message--- {
    display: block;
    width: 100%;
}

.you {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #7d0500;
    background-color: #000000;
    border-radius: 50%;
}
