body {
    /*background-image: url(../images/bg.jpg);*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #656565;
}
html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}

.button-instrument {
    z-index: 3333;
    position: absolute;
    margin-top: 0;
    top: 0;
    right: 5px;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-left {
    width: 100%;
}

.button {
    color: black;
    display: table;
    /*margin-top: 10px;*/
    /*margin-right: 5px;*/
    font-size: 18px;
    margin: 10px;
    padding: 10px 15px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #f6f6f6;
}

.button-inline-block {
    display: inline-block;
}

.button-90per {
    width: 85%;
}

.button-hover:hover {
    transition: all 0.5s;
    color: #f6f6f6;
    background-color: #191919;
}
.button-leave {
    transition: all 0.5s;
    color: black;
    background-color: #f6f6f6;
}

.absolute {
    position: absolute;
}

.absolute-top-left {
    top: 0;
    right: 0;
}

textarea {
    transition: all;
    padding: 7px;
    background-color: black;
    color: #f6f6f6;
    font-size: 14px;
}

input {
    transition: all;
    background-color: black;
    border: 1px solid #f6f6f6;
    color: #f6f6f6;
    font-size: 14px;
}

::selection {
    color: white;
    background-color: #a00000;
}

.text-indent {
    text-indent: 1.5em;
    text-align: justify;
    word-break: break-word;
}

.button-link:hover {
    background-color: #ffffff;
}

.button-link-mouseleave {
    transition: all 0.5s;
    color: white;
    background-color: black;
}

.button-link:hover, .button-link:hover > a {
    transition: all 0.5s;
    color: black;
}
.backgroundColor-paddingAll5-font {
    padding: 5px;
    background-color: #0e0e10;
    font-family: Arial, sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}
.inline-flex {
    display: inline-flex;
}

input, textarea {
    background-color: #f6f6f6;
    color: black;
    border: 1px solid black;
}
::placeholder {
    color: #636363;
}
