.margin-top5px {
    margin-top: 5px;
}
.margin-left5px {
    margin-left: 5px;
}
.margin-left3px {
    margin-left: 3px;
}
.margin-left1px {
    margin-left: 1px;
}
.margin-top2px {
    margin-top: 2px;
}
