/*ul {*/
/*    margin: 5px 0 0;*/
/*    padding: 0;*/
/*    list-style-type: none;*/
/*}*/

li {
}

.li-block {
    margin-top: 5px;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.li-block > div {
    position: relative;
    width: 100%;
    background-color: #000000;
}
.li-style-dot {
    list-style: circle;
}
.ul-style-none {
    margin-top: 5px;
    list-style-type: none;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 30px;
}

.ul-style-none > li {
}
