.nav-pull {
    z-index: 9999;
    position: fixed;
    width: 500px;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(17, 17, 17, 0.9);
    overflow-y: auto;
}

.fade-enter-active {
    transform: translateX(0px);
    transition: .5s;
}

.fade-leave-active {
    transform: translateX(-500px);
    transition: .5s;
}

.fade-enter {
    transform: translateX(-500px);
}

.fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
}

[class*="btn-nav-pull"] {
    z-index: 9999;
    position: fixed;
    top: 5px;
    left: 5px;
    width: 35px;
    height: 35px;
}

[class*="btn-nav-pull"]:hover {
}

a {
    color: white;
    text-decoration: none;
}

.nav-titles {
    display: block;
    margin-top: 20px;
    margin-left: 10px;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: white;
}

.nav-bar-username {
    margin-top: 0px;
    padding: 10px 5px;
    border-bottom: 2px solid #ff4c51;
}

.link-username {
    color: #ff4c51;
}

.nav-bar {
    margin-top: 10px;
    padding: 5px 5px;
    /*border-bottom: 2px solid #ffffff;*/
}

.nav-bar:hover, .nav-bar-username:hover {
    transition: all 0.3s;
    background-color: #5a5a5a;
}

.nav-bar:active, .nav-bar-username:active {
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0);
}

.nav-bar-over, .nav-bar-username-over {
    transition: all 0.3s;
    background: #adadad;
}

.nav-bar-leave, .nav-bar-username-leave {
    transition: all 0.3s;
    background: #414141;
}

.nav-bar > a {
    position: relative;
    display: block;
}
