nav {
    z-index: 8888;
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    font-family: Arial, serif;
    font-size: 18px;
    color: #ffffff;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 70%, rgba(38,38,38,1) 96%, rgba(255,255,255,1) 100%);
    display: flex;
}

.nav-field {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.nav-field > div {
    display: inline-flex;
    width: 100px;
    height: 100%;
}

.right {
    float: right;
}
