nav {
    z-index: 8888;
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    font-family: Arial, serif;
    font-size: 18px;
    color: #000000;
    background: #f6f6f6;
    display: flex;
}

.nav-field {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.nav-field > div {
    display: inline-flex;
    margin-right: 30px;
    height: 100%;
}

.right {
    float: right;
}

.notification {
}

.notification > img {
    display: block;
    position: relative;
    height: 60%;
    width: auto;
}
.nav-username {
    width: 50px;
    border-radius: 50%;
    background: #f6f6f6;
}

.nav-username:hover {
    transition: 0.5s all;
    width: 50px;
    border-radius: 50%;
    background: #bcbcbc;
    /*color: #f6f6f6;*/
}
