.main {
    padding: 5px;
}
.news {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #f6f6f6;
    border-radius: 5px;
    background-color: black;
    color: #f6f6f6;
    margin-bottom: 5px;
}
@media only screen and (min-width: 1600px) {
    .news {
        width: 50%;
    }
}
.news-title-field {
    display: flex;
    /*background-color: red;*/
}
.news-title-author-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: yellow;*/
}
.news-title-author-avatar > img {
    width: 50px;
    border-radius: 10px;
}
.news-title {
    width: 100%;
    padding: 5px;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    font-size: 20px;
    /*background-color: blue;*/
}
.news-title > p {
    font-weight: normal;
    margin: 0;
}
.news-content-field {
    font-family: Arial, sans-serif;
    margin-top: 10px;
    font-size: 16px;
}
