.shadow {
    filter: drop-shadow(0 0rem 1rem rgba(255, 255, 255, 1));
}

.yes {
    width: 100%;
}

.profile-settings {
    padding: 1px 8px 8px;
    background: #f6f6f6;
    color: black;
    font-family: Arial, sans-serif;
}

.name-surname-btn {
    display: block;
}

.name-surname > div {
    margin-top: 5px;
    /*padding: 5px;*/
}

.name-surname > div > label {
    display: inline-block;
    width: 120px;
    padding-right: 5px;
    text-align: right;
}

@media only screen and (max-width: 1599px) {
    .documents-wrapper {
        margin-top: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}

@media only screen and (min-width: 1600px) {
    .documents-wrapper {
        margin-top: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
    }
}

.documents-wrapper > .document {
    position: relative;
    word-break: break-word;
    padding: 15px;
    background: #dddddd;
    border: 1px solid black;
    border-radius: 5px;

    -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.47);
}

.document:hover {
    background-color: #b7b7b7;
}

.document > span {
    margin-top: 8px;
    font-family: Arial, sans-serif;
    font-size: 100%;
}

.document > div {
    margin-top: 5px;
}

.no-display {
    display: none;
}

.document > label {
    cursor: pointer;
    margin-top: 5px;
    color: #a00000;
}

.document > label:hover {
    color: #d20000;
}

.doc-download > a {
    color: black;
}
