.wrapper {
    display: grid;
    grid-template-columns: minmax(10%, 20%) 80%;
    grid-gap: 5px;
}
.wrapper > div {
    background-color: #333336;
    font-family: Arial, sans-serif;
}
.profile-image {
    position: relative;
    padding: 10px;
}

.change-photo-activator {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
}
.change-photo-activator > img {
    cursor: pointer;
}

.profile-info {
    padding: 20px;
    overflow: hidden;
}
.profile-info > .username {
    font-size: 32px;
    color: #fff;
}
.profile-info > .email {
    font-size: 18px;
    color: #aaa;
}
img {
    width: 100%;
    height: auto;
}