.salary {
    padding: 8px;
    background-color: #f6f6f6;
    color: black;
    font-family: Arial, sans-serif;
}

.salary > div {
    margin-top: 5px;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.salary-head > th {
    background-color: #f6f6f6;
    color: black;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    border: 1px solid black;
}

.salary-body > tr > td {
    background-color: #f6f6f6;
    color: black;
    padding: 5px;
    border: 1px solid black;
}

.salary > table {
    margin-top: 5px;
}

.salary > table > tbody > tr > td {
    padding: 3px;
}

.salary-table {
}
