.grid-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, auto));
    grid-gap: 10px;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(3, minmax(auto, auto));

    }
}

.grid-item {
    padding: 10px 10px 0;
    border: 1px solid #fff;
    font-size: 30px;
}
.grid-item > a {
    display: flex;
    text-align: center;
    justify-content: center;
}
.grid-item > .filename {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
}
.grid-container > .grid-item > a > img {
    width: 100%;
}