.storage {
    background-color: black;
    padding: 8px;
    font-family: Arial, sans-serif;
}

.grid-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, auto));
    grid-auto-rows: 200px;
    grid-gap: 10px;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(3, minmax(auto, auto));
        grid-auto-rows: 200px;
    }
}

.grid-item {
    display: block;
    padding: 10px 10px 0;
    border: 1px solid #fff;
    font-size: 30px;
    overflow: hidden;
}
.grid-item > a {
    display: flex;
    text-align: center;
    justify-content: center;
}
.grid-item > .filename {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
}
.grid-container > .grid-item > a > img {
    position: relative;
    display: block;
    width: 100px;
    height: available;
    max-height: 100%;
}
