table {
    width: 100%
}

table > tr {
}

th {
    max-width: 300px;
    word-break: break-word;
    padding: 10px 10px;
    border: 1px solid #f6f6f6;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.year {
    max-width: 100px;
}

input {
    width: 80%;
}

.list-enter-active, .list-leave-active {
    transition: all 1s;
}

.list-enter, .list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

.list-move {
    transition: transform 1s;
}
